# Reading in the data

In [ ]:
import pandas as pd

# change your directory path accordingly
methane = pd.DataFrame(pd.read_csv("../data/Methane_CA_Permian_Plume_list.csv"))
reactive = pd.DataFrame(pd.read_csv("../data/reactive-gases.csv"))
so2 = pd.DataFrame(pd.read_csv("../data/so2-values.csv"))

In [13]:
methane.head()

,Source identifier,Plume latitude (deg),Plume longitude (deg),Candidate identifier,Date of detection,Time of detection (UTC),Source type (best estimate),Sectors (IPCC),Qplume (kg/hr): Plume emissions,Sigma Qplume (kg/hr): Uncertainty for plume emissions
0,S00006,34.44705,-118.588342,ang20160910t185702-A,9/10/16,18:57,gas storage facility,1B2 Oil & Natural Gas,132.0,50.0
1,S00006,34.44705,-118.588342,ang20160910t191651-A,9/10/16,19:16,gas storage facility,1B2 Oil & Natural Gas,89.0,52.0
2,S00006,34.44705,-118.588342,ang20160910t192242-A,9/10/16,19:22,gas storage facility,1B2 Oil & Natural Gas,185.0,70.0
3,S00006,34.44705,-118.588342,ang20160912t195241-A,9/12/16,19:52,gas storage facility,1B2 Oil & Natural Gas,138.0,52.0
4,S00006,34.44705,-118.588342,ang20160912t225718-B,9/12/16,22:57,gas storage facility,1B2 Oil & Natural Gas,350.0,106.0

In [14]:
reactive.head()

,Scenario,Gas/Region,1990,2000,2010,2020,2030,2040,2050,2060,2070,2080,2090,2100
0,A1AIM,CH4,MtCH4,MtCH4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,OECD90,72.9801,73.5399,71.1634,68.9441,65.7877,58.2814,51.5337,49.4557,47.4496,45.6305,43.9843,42.3882
2,NaN,REF,47.0804,38.8544,57.8602,61.2764,59.8608,50.5076,42.3576,40.8520,39.3875,37.7340,35.9120,34.1556
3,NaN,ASIA,112.8938,125.3791,144.7888,170.7022,206.5665,210.3425,214.1863,182.9251,156.1512,138.4179,127.4492,117.3276
4,NaN,ALM,76.7245,85.1631,99.2297,119.8457,134.0362,139.0303,144.2315,136.9771,130.1256,119.6887,106.7063,95.3133

In [15]:
so2.head()

,Unnamed: 0,Unnamed: 1,1990,2000,2010,2020,2030,2040,2050,2060,2070,2080,2090,2100
0,NaN,A1-AIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,OECD90,NaN,22.7,17.0,9.9,6.9,6.4,6.3,6.3,6.0,5.7,5.3,5.0,4.6
2,FSU/EE,NaN,17.0,11.0,12.2,10.8,7.5,4.3,2.4,2.0,1.7,1.6,1.6,1.6
3,China/CPA,NaN,11.8,16.5,28.7,35.0,26.7,10.1,3.4,3.2,3.0,2.9,2.8,2.7
4,S&E Asia,NaN,5.9,8.8,13.4,19.2,18.9,9.7,5.0,4.7,4.5,4.2,3.9,3.7

### Converting pandas data frame "methane" to geopandas data frame based on latitude and longitude coordinates

In [18]:
import geopandas
import matplotlib.pyplot as plt

# methaneGDF = geopandas.GeoDataFrame(methane, geometry = geopandas.points_from_xy(methane["Plume longitude (deg)"], methane["Plume latitude (deg)"]))
# methaneGDF.head()

OSError: Could not find lib c or load any of its variants [].

### Plotting the locations of our latitude and longitude coordinates for the methane data frame

In [ ]:
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))
ax = world[world.continent == "North America"].plot(color = "white", edgecolor = "black")
methaneGDF.plot(ax = ax, color = "red")
methaneGDF.title()
plt.show()

methaneGDF